numexpr
numpy
scipy
matplotlib
scikit-learn
pandas
sympy
networkx
scikit-image
pylint
PyYAML
Pillow
jupyter
Flask
flask_cors
gunicorn
cython
h5py
easydict
wheel
python-dotenv
IPython[all]
imgaug

#opencv-python

mkdocs
gevent
redis
#imutils requests
